<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/share/CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,324},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>images/share/CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,324},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>images/share/ForceBarBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{312,20}}</string>
                <key>offset</key>
                <string>{-5,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,200},{312,20}}</string>
                <key>sourceSize</key>
                <string>{680,600}</string>
            </dict>
            <key>images/share/ForceBarFG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{306,16}}</string>
                <key>offset</key>
                <string>{-5,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,201},{306,16}}</string>
                <key>sourceSize</key>
                <string>{680,600}</string>
            </dict>
            <key>images/share/HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>images/share/RedBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,324},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/share/WhiteBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{219,221}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{219,221}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30981b4eca9f7e9edc3a2e371f5e8b46:1/1$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
