<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/UI/Game/arrowCCW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>images/UI/Game/arrowCCWSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>images/UI/Game/arrowCW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,724},{104,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{104,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>images/UI/Game/arrowCWSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{104,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>images/UI/Game/arrowForHit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>images/UI/Game/arrowForHitSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>images/UI/MainMenu/ContinueButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,832},{366,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{366,106}}</string>
                <key>sourceSize</key>
                <string>{370,110}</string>
            </dict>
            <key>images/UI/MainMenu/ContinueButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,724},{370,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,110}}</string>
                <key>sourceSize</key>
                <string>{370,110}</string>
            </dict>
            <key>images/UI/MainMenu/MainMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>images/UI/MainMenu/PlayGameButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,858},{366,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{366,106}}</string>
                <key>sourceSize</key>
                <string>{370,110}</string>
            </dict>
            <key>images/UI/MainMenu/PlayGameButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,892},{370,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,110}}</string>
                <key>sourceSize</key>
                <string>{370,110}</string>
            </dict>
            <key>images/UI/MainMenu/QuitButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,724},{366,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{366,106}}</string>
                <key>sourceSize</key>
                <string>{370,110}</string>
            </dict>
            <key>images/UI/MainMenu/QuitButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{370,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,110}}</string>
                <key>sourceSize</key>
                <string>{370,110}</string>
            </dict>
            <key>images/UI/MainMenu/Slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,836},{520,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{520,20}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>images/UI/MainMenu/SliderButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,836},{52,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>images/UI/MainMenu/logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{448,166}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{448,166}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a976616e20b15d046b3cee3c473985:1/1$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
